<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>采摘园</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
       
        .menu{  display:flex;justify-content:center; }
        .menu li{padding: 10px 20px;color: #444;border-bottom: 1px solid #009946;cursor: pointer;}
        .menu li:first-child{padding-left: 0;color: #009946;}
        .menu li:last-child{padding-right: 0}
        .menu li:hover{color: #009946;}
       	.banner-position{position:absolute;display: flex;top: 50px;width: 100%;}
       	.img-wrap{width:30%;padding: 0 30px;}
		
   </style>
</head>

<body>
    <div id="vmMain">
        <!-- 顶部banner logo和导航栏  -->
        <div class="banner relative">
        	<div class="login-signup" style="z-index: 999;">
				<a href="login.html" class="c-white">登录</a> |
				<a href="signup.html" class="c-white">注册</a>
			</div>
            <img class="w-full" src="../img/bg3.jpg" alt="">
            <div class="banner-position">
                <div class="img-wrap">
                    <img class="w-pre90" src="../img/logo.png" alt="">
                </div>
                <div class="w-pre70 m-t30">
                     <div class="nav clearfloat">
                        <li><a href="index.html">首页</a> </li>
                        <li @mouseenter="showmenu" @mouseleave="hidemenu" class="relative">
                        	<a>分类</a>
                        	<div v-if="isshow" class="t-c c-white child-menu-wrap">
                        		<div @click="operatekind('1')" class="child-menu">蔬菜</div>
                        		<div @click="operatekind('2')" class="child-menu">水果</div>
                        		<div @click="operatekind('3')" class="child-menu">茶叶</div>
                        		<div @click="operatekind('4')" class="child-menu">粮油</div>
                        		<div @click="operatekind('5')" class="child-menu">养殖</div>
                        	</div>
                        </li>
                        <li><a href="plantation-base.html">种植基地</a></li>
                        <li><a href="picking-park.html">采摘园区</a></li>
                        <li><a href="contact-us.html">在线留言</a></li>
                        <li><a href="about-us.html">联系我们</a></li>
                        <li>
                        	<a href="shopping-cart.html" class="relative">
                        		<span class="iconfont icongouwuche "></span>
                            	<div v-if="shoppingCartCount" class="nav-car-count nav-car-count-media">{{shoppingCartCount}}</div>
                        	</a>
                        </li>
                    </div>
                   
                   
                </div>
            </div>

        </div>
        <!-- 中间部分 -->
        <div class="w-pre80 p-b80" style="margin:20px auto;">
        	<div class="t-c c-3 s-18">
        		<div>采摘园区</div>
        		<div>Picking Park</div>
        	</div>
        	<div class="flex b-gray between r5 m-t20">
        		<div class="w-pre20 p-t20 p-b20">
        			<div class="p-l30">
        				<img class="w-full" src="../img/pic1.jpg"/>
        			</div>
        		</div>
        		<div class="w-pre50 p-t20 p-b10 p-l30 p-r40">
        			<div>
        				<span class="b-b5 p-b5">四川农产品种植基地</span>
        			</div>
        			<div class="c-6 p-t10 s-15">
        				四川农产品种植基地介绍内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
        			</div>
        		</div>
        		<div class="w-pre30 flex justify-center align-center">
        			<button class="bg-green c-white p-t10 p-b10 p-l40 p-r40 b-none r5">
        				<span class="iconfont iconphone"></span> <span class="m-l5">联系基地</span>
        			</button>
        		</div>
        	</div>
        	<div class="flex b-gray between r5 m-t20">
        		<div class="w-pre20 p-t20 p-b20">
        			<div class="p-l30">
        				<img class="w-full" src="../img/pic2.jpg"/>
        			</div>
        		</div>
        		<div class="w-pre50 p-t20 p-b10 p-l30 p-r40">
        			<div>
        				<span class="b-b5 p-b5">四川农产品种植基地</span>
        			</div>
        			<div class="c-6 p-t10 s-15">
        				四川农产品种植基地介绍内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
        			</div>
        		</div>
        		<div class="w-pre30 flex justify-center align-center">
        			<button class="bg-green c-white p-t10 p-b10 p-l40 p-r40 b-none r5">
        				<span class="iconfont iconphone"></span> <span class="m-l5">联系基地</span>
        			</button>
        		</div>
        	</div>
        	<div class="flex b-gray between r5 m-t20">
        		<div class="w-pre20 p-t20 p-b20">
        			<div class="p-l30">
        				<img class="w-full" src="../img/pic3.jpg"/>
        			</div>
        		</div>
        		<div class="w-pre50 p-t20 p-b10 p-l30 p-r40">
        			<div>
        				<span class="b-b5 p-b5">四川农产品种植基地</span>
        			</div>
        			<div class="c-6 p-t10 s-15">
        				四川农产品种植基地介绍内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
        			</div>
        		</div>
        		<div class="w-pre30 flex justify-center align-center">
        			<button class="bg-green c-white p-t10 p-b10 p-l40 p-r40 b-none r5">
        				<span class="iconfont iconphone"></span> <span class="m-l5">联系基地</span>
        			</button>
        		</div>
        	</div>
        	<div class="flex b-gray between r5 m-t20">
        		<div class="w-pre20 p-t20 p-b20">
        			<div class="p-l30">
        				<img class="w-full" src="../img/pic3.jpg"/>
        			</div>
        		</div>
        		<div class="w-pre50 p-t20 p-b10 p-l30 p-r40">
        			<div>
        				<span class="b-b5 p-b5">四川农产品种植基地</span>
        			</div>
        			<div class="c-6 p-t10 s-15">
        				四川农产品种植基地介绍内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
        			</div>
        		</div>
        		<div class="w-pre30 flex justify-center align-center">
        			<button class="bg-green c-white p-t10 p-b10 p-l40 p-r40 b-none r5">
        				<span class="iconfont iconphone"></span> <span class="m-l5">联系基地</span>
        			</button>
        		</div>
        	</div>
        </div>
        <!-- 底部 -->
         <div>
            <div class="relative">
                <img class="w-full"src="../img/footer.jpg" alt="">
                <div class="w-full t-c seemore-wrap"> 
                    <span class="seemore">查看更多</span> 
                </div>
            </div>
            <div class="bg-green p-t30 p-b50 flex m-t-2">
                <div class="w-pre40 flex between">  
                    <div></div>
                    <div class="c-yellow-green">
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_03.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>地址 / ADDRESS</div>
                                <div>绵阳市梓潼县天宝柑桔合作社文昌添宝蜜柚 <span class="visibility-hidden">占位</span></div>
                            </div>
                        </div>
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_06.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>电话 / TELEPHONE</div>
                                <div>0888-88888888</div>
                            </div>
                        </div>
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_09.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>网址 / SITE</div>
                                <div>HTTP://WWW.WWW.COM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-pre60 p-l50">
                    <ul class="footer-menu">
                        <li> <a href="classify.html?type=1">蔬菜</a></li>
                        <li><a href="classify.html?type=2">水果</a></li>
                        <li><a href="classify.html?type=3">茶叶</a></li>
                        <li><a href="classify.html?type=4">粮油</a></li>
                        <li><a href="classify.html?type=5">养殖</a></li>
                    </ul>
                    <ul class="footer-nav">
                        <li><a href="index.html">首页</a> </li>
                        <li><a href="classify.html?type=1">分类</a></li>
                        <li><a href="plantation-base.html">种植基地</a></li>
                        <li><a href="picking-park.html">采摘园区</a></li>
                        <li><a href="contact-us.html">在线留言</a></li>
                        <li><a href="about-us.html">联系我们</a></li>
                    </ul>
                    <div class="m-t20 c-white">Copyright &copy; 2002-2020 某某有机产品有限公司 版权所有</div>
                </div>
            </div>

        </div>

    </div>

    <script src="../js/vue.min.js"></script>
    <script src="../js/common.js"></script>
    <script>
    var vm = new Vue({
        el:"#vmMain",
        data:{
            list:[
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/v.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/v.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/v.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/v.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
                {img:'../img/vv.jpg',name:'油麦菜',address:'四川比得上基地',price:'￥2.00',show:false},
            ],
              shoppingCartCount:'',
                isshow:false
        },
        methods:{
            enter:function(n){
                for(let i=0;i<this.list.length;i++){
                    this.list[i].show = false;
                }
                this.list[n].show = true;
            },
            leave:function(n){
                this.list[n].show = false;
            },
            showmenu:function(){
            	this.isshow = true;
            },
            hidemenu:function(){
            	this.isshow = false;
            },
            operatekind:function(type){
            	window.location.href = 'classify.html?type='+type
            }
        }
    })
    vm.shoppingCartCount = getCartCount();
    </script>
</body>

</html>