
#nav-wrap{padding-bottom: 10px!important;}
.logo{padding-bottom: 10px;}


.mainWrap{ width: 100%;padding-left: 2%;padding-right: 2%; }
.wrapper{width: 100%!important;}
.mainWrapPre90{width: 100%;padding-left: 2%;}

.tinyNo{display: none;}

.title{font-size: 12px;}
.text{font-size: 12px;}

.rowWrap{width: 100%;overflow: hidden;}
