<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>立传</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 768px)" href="../css/tinyScreen.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px)" href="../css/largeScreen.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.css" />
		<style type="text/css">
    		 .swiper-pagination-bullet-active{background: #fff;}
		    .swiper-pagination{text-align: right;padding-right: 50px;}
		    .swiper-pagination-bullet{width: 10px;height: 10px;}
		    .quality{cursor: pointer;}
		    .img-wrap{overflow: hidden;}
		    .quality:hover{box-shadow: rgba(0,0,0,0.188235) 0px 17px 50px 0px;transform: translate3d(0px,-2px,0px);}
			
			.hover-cover{position: absolute;top: 0;left: 0;background: rgba(255,255,255,.2);width: 100%;height: 100%;align-items: center;display: flex;}
			.img-wrap{ display:block; position: relative; width:100%; height:100%; margin:0 auto; }
			.img-wrap:before { content: ""; position: absolute; width:150px; height: 100%; top: 0; left: -150px; overflow: hidden;
				background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.3)50%, rgba(255,255,255,0)100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.3)), color-stop(100%, rgba(255,255,255,0)));
				background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.3)50%, rgba(255,255,255,0)100%);
				background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.3)50%, rgba(255,255,255,0)100%);
				-webkit-transform: skewX(-25deg);
				-moz-transform: skewX(-25deg) ;
			}
			.img-wrap:hover:before { left: 150%; transition: left 1s ease 0s; }
			
		</style>
	</head>

	<body>
		<div id="vmMain">
			<!--  ================== 导航 ================== -->
			<div class="nav-bg">
				<nav class="navbar navbar-default shift">
					<div class="navbar-header o-hidden">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						<div class="f-l logo-img"><img class="" src="../img/logo.png" /></div>
					</div>
					<div class="collapse navbar-collapse o-hidden p-r40" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav f-r tiny-nav-ul">
							<li>
								<a class="active" href="index.html">首页</a>
							</li>
							<li>
								<a href="about.html">我们的服务</a>
							</li>
							<li>
								<a href="services.html">精品传记</a>
							</li>
							<li>
								<a href="gallery.html">著书立说</a>
							</li>
							<li>
								<a href="contact.html">寻传</a>
							</li>
							<li>
								<a href="gallery.html">祭祖</a>
							</li>
							<li>
								<a href="contact.html">价格</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!--  ================== banner ================== -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide banner-img" style="background-image: url(../img/banner1.jpg);">
						<div class="t-r c-white banner-cover">
							<div class="s-30">孔子问道</div>
							<div class="m-t10 s-20">CREATING RESPONSIVE WEBSITES WITHOUT CODE</div>
							<div class="m-t10 l-h28">采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。</div>
						</div>
					</div>
					<div class="swiper-slide banner-img" style="background-image: url(../img/banner1.jpg);">
						<div class="t-l c-white banner-cover">
							<div class="s-30">传说</div>
							<div class="m-t10 s-20">CREATING RESPONSIVE WEBSITES WITHOUT CODE</div>
							<div class="m-t10 l-h28">采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。</div>
							<div class="m-t10">
								<button class="bg-yellow p-5-25 b-0 nooutline c-white r30">button</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide banner-img" style="background-image: url(../img/banner1.jpg);">
						<div class="t-r c-white banner-cover">
							<div class="s-30">无需编程，设计响应式酷站</div>
							<div class="m-t10 s-20">CREATING RESPONSIVE WEBSITES WITHOUT CODE</div>
							<div class="m-t10 l-h28">采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<!--  ================== 新闻动态 ================== -->
			<div class="m-t20 m-l10 m-r10" style="background: #d9d9d9;">
				<div class="row p0 m0 p-r10 p-l10 p-b20">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p10 m0">
						<div class="s-24 c-4 m-t10">新闻动态</div>
						<div class="c-6 m-t10 s-14 l-h28 text-indent">设计是有目的的策划，平面设计是这些策划将要采取的形式之一，在平面设计过程中你需要用视觉元素来传播你的设想和计划，用文字和图形的形式把信息传达给受众，</div>
						<div class="c-6 m-t10 s-14 l-h28 text-indent">设计是有目的的策划，平面设计是这些策划将要采取的形式之一，在平面设计过程中你需要用视觉元素来传播你的设想和计划，用文字和图形的形式把信息传达给受众，</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p10 m0 p-b20" style="background: #d9ead3;">
						<div class="m-b10 m-t10"> <span class="iconfont "></span>申请立传</div>
						<div class="m-b10 m-t10"> <span class="iconfont "></span>登录</div>
						<div class="m-b10 m-t10"> <span class="iconfont "></span>注册</div>
						<div class="m-b10 m-t10"> <span class="iconfont "></span>密码找回</div>
					</div>
				</div>
			</div>
			<!--  ================== 精品传记 ================== -->
			<div>
				<div class="divingLine">
					<div class="line"> </div>
					<span class="title"> 
						<div class="bold s-20 t-c">精品传记</div>
						<div class="t-c p-t5">查看更多</div> 
					</span>
					<div class="line"> </div>
				</div>
				<div class="row p0 m0 p-l10 p-r10 m-t40">
					<div v-for="i,index in list1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 m0 p5">
						<div class="quality relative">
							<div class="img-wrap" @mouseenter="enter(index)" @mouseleave="leave(index)">
								<img class="w-full"  src="../img/img01.jpg"/>
								<div v-if="i.showHover" class="hover-cover">
									<div class="c-white t-c w-full">sdafas</div>
								</div>
							</div>
							<div class="p10">
								<div class="s-18 p-t5">设计响应式酷站</div>
								<div class="m-t10 l-h28 s-14">CoolSite360，采用标准的html及css规范，使您的设计便于维护及...</div>
								<div class="m-t10 s-14 p-b5"> Read more... </div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!--  ================== 最近更新 ================== -->
			<div>
				<div class="divingLine">
					<div class="line"> </div>
					<span class="title"> 
						<div class="bold s-20 t-c">最近更新</div>
						<div class="t-c p-t5">查看更多</div> 
					</span>
					<div class="line"> </div>
				</div>
				
				<div class="row p0 m0 p-l10 p-r10 m-t40">
					<div v-for="i,index in list2" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 m0 p5">
						<div class="quality relative">
							<div class="img-wrap" @mouseenter="enter(index)" @mouseleave="leave(index)">
								<img class="w-full"  src="../img/img01.jpg"/>
								<div v-if="i.showHover" class="hover-cover">
									<div class="c-white t-c w-full">sdafas</div>
								</div>
							</div>
							<div class="p10">
								<div class="s-18 p-t5">设计响应式酷站</div>
								<div class="m-t10 l-h28 s-14">CoolSite360，采用标准的html及css规范，使您的设计便于维护及...</div>
								<div class="m-t10 s-14 p-b5"> Read more... </div>
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<div style="height: 200px;"></div>
			
			
		
		</div>
		<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#vmMain',
				data: {
					list1:[
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false}
					],
					list2:[
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
					]
				},
				methods: {
					load: function() {

					},
					enter:function(n){
						console.log("enter");
						this.list1[n].showHover = true;
					},
					leave:function(n){
						console.log('离开哦')
						this.list1[n].showHover = false;
					},
				}
			})
			vm.load();
			// 手机端swiper
			window.onload = function() {
				var swiper = new Swiper('.swiper-container', {
					slidesPerView: 1,
					spaceBetween: 30,
					loop: true,
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},
				});
				//				//  申请成为广告主
				//				var swiper = new Swiper('.swiper-adver .swiper-container', {
				//					slidesPerView: 2,
				//					spaceBetween: 10,
				//					slidesPerGroup: 2,
				//					loop: true,
				//					loopFillGroupWithBlank: true,
				//					navigation: {
				//						nextEl: '.swiper-adver .swiper-button-next',
				//						prevEl: '.swiper-adver .swiper-button-prev',
				//					},
				//				});
				//				//  申请成为媒体主
				//				var swiperMedia = new Swiper('.swiper-media .swiper-container', {
				//					slidesPerView: 2,
				//					spaceBetween: 10,
				//					slidesPerGroup: 2,
				//					loop: true,
				//					loopFillGroupWithBlank: true,
				//					navigation: {
				//						nextEl: '.swiper-media .swiper-button-next',
				//						prevEl: '.swiper-media .swiper-button-prev',
				//					},
				//				});
				//
				//				//  申请成为媒体主
				//				var swiperNothing = new Swiper('.swiper-nothing .swiper-container', {
				//					slidesPerView: 2,
				//					spaceBetween: 10,
				//					slidesPerGroup: 2,
				//					loop: true,
				//					loopFillGroupWithBlank: true,
				//					navigation: {
				//						nextEl: '.swiper-nothing .swiper-button-next',
				//						prevEl: '.swiper-nothing .swiper-button-prev',
				//					},
				//				});

			}
		</script>
	</body>

</html>