<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>立传</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 768px)" href="../css/tinyScreen.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px)" href="../css/largeScreen.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.css" />
		<style type="text/css">
    		
			
		</style>
	</head>

	<body>
		<div id="vmMain">
			<!--  ================== 导航 ================== -->
			<div class="nav-bg">
				<nav class="navbar navbar-default shift">
					<div class="navbar-header o-hidden">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						<div class="f-l logo-img"><img class="" src="../img/logo.png" /></div>
					</div>
					<div class="collapse navbar-collapse o-hidden p-r40 tiny-menu" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav f-r tiny-nav-ul tiny-navbar-nav">
							<li>
								<a href="index.html" class="active">首页</a>
							</li>
							<li>
								<a href="service.html">我们的服务</a>
							</li>
							<li>
								<a href="biography.html">精品传记</a>
							</li>
							<li>
								<a href="book.html">著书立说</a>
							</li>
							<li>
								<a href="ancestor.html">祭祖</a>
							</li>
							<li>
								<a href="business.html">业务及合作</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!--  ================== banner ================== -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide banner-img" style="background-image: url(../img/banner1.jpg);">
						<div class="t-r c-white banner-cover">
							<div class="s-30">孔子问道</div>
							<div class="m-t10 s-20">CREATING RESPONSIVE WEBSITES WITHOUT CODE</div>
							<div class="m-t10 l-h28">采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。</div>
						</div>
					</div>
					<div class="swiper-slide banner-img" style="background-image: url(../img/banner1.jpg);">
						<div class="t-l c-white banner-cover">
							<div class="s-30">传说</div>
							<div class="m-t10 s-20">CREATING RESPONSIVE WEBSITES WITHOUT CODE</div>
							<div class="m-t10 l-h28">采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。</div>
							<div class="m-t10">
								<button class="bg-yellow p-5-25 b-0 nooutline c-white r30">button</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide banner-img" style="background-image: url(../img/banner1.jpg);">
						<div class="t-r c-white banner-cover">
							<div class="s-30">无需编程，设计响应式酷站</div>
							<div class="m-t10 s-20">CREATING RESPONSIVE WEBSITES WITHOUT CODE</div>
							<div class="m-t10 l-h28">采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<!--  ================== 新闻动态 ================== -->
			<div class="m-t20 m-l10 m-r10" style="background: #d9d9d9;">
				<div class="row p0 m0 p-r10 p-l10 p-b20">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p10 m0">
						<div class="s-24 c-4 m-t10">新闻动态</div>
						<div class="c-6 m-t10 s-14 l-h28 text-indent">设计是有目的的策划，平面设计是这些策划将要采取的形式之一，在平面设计过程中你需要用视觉元素来传播你的设想和计划，用文字和图形的形式把信息传达给受众，</div>
						<div class="c-6 m-t10 s-14 l-h28 text-indent">设计是有目的的策划，平面设计是这些策划将要采取的形式之一，在平面设计过程中你需要用视觉元素来传播你的设想和计划，用文字和图形的形式把信息传达给受众，</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p10 m0 p-b20" style="background: #d9ead3;">
						<div class="m-b10 m-t10"> <span class="iconfont "></span>申请立传</div>
						<div class="m-b10 m-t10"> <span class="iconfont "></span>登录</div>
						<div class="m-b10 m-t10"> <span class="iconfont "></span>注册</div>
						<div class="m-b10 m-t10"> <span class="iconfont "></span>密码找回</div>
					</div>
				</div>
			</div>
			<!--  ================== 精品传记 ================== -->
			<div>
				<div class="divingLine">
					<div class="line"> </div>
					<span class="title"> 
						<div class="bold s-20 t-c">精品传记</div>
						<div class="t-c p-t5">查看更多</div> 
					</span>
					<div class="line"> </div>
				</div>
				<div class="row p0 m0 p-l10 p-r10 m-t40">
					<div v-for="i,index in list1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 m0 p5">
						<div class="quality relative">
							<div class="img-wrap" @mouseenter="enter(index)" @mouseleave="leave(index)">
								<img class="w-full" src="../img/img02.jpg"/>
								<div v-if="i.showHover" class="hover-cover">
									<div class="c-white t-c w-full">sdafas</div>
								</div>
							</div>
							<div class="p10">
								<div class="s-18 p-t5 hover-orange pointer">设计响应式酷站</div>
								<div class="m-t10 l-h28 s-14">CoolSite360，采用标准的html及css规范，使您的设计便于维护及...</div>
								<div class="m-t10 s-14 p-b5 hover-orange"> Read more... </div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!--  ================== 最近更新 ================== -->
			<div>
				<div class="divingLine">
					<div class="line"> </div>
					<span class="title"> 
						<div class="bold s-20 t-c">最近更新</div>
						<div class="t-c p-t5">查看更多</div> 
					</span>
					<div class="line"> </div>
				</div>
				
				<div class="p-l10 p-r10 m-t40 update-wrap">
					<div v-for="i,index in list2" class="flex p10 quality b-bgray">
						<div>
							<img src="../img/img03.jpg"/>
						</div>
						<div class="p-l10 p-r10">
							<div class="hover-orange s-16">无需编程，设计响应式酷站！</div>
							<div class="m-t10 c-9 s-12 tiny-ellipsis">CoolSite360，采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。双击编辑修改文字！CoolSite360，采用标准的html及css规范，使您的设计便于维护及二次开发，通过导出功能，可输出干净的html文档结构及css样式表，便于后期添加个性化功能。双击编辑修改文字！</div>
							<div class="m-t10 s-12 c-8"> <span>21epub</span><span>2014.11.11</span></div>
						</div>
					</div>
					<div class="t-c p-t20">
						<span class="paging">1</span>
						<span class="paging">2</span>
						<span class="paging">3</span>
					</div>
				</div>
			</div>
			<!--  ================== 著书立说 ================== -->
			<div>
				<div class="divingLine">
					<div class="line"> </div>
					<span class="title"> 
						<div class="bold s-20 t-c">著书立说</div>
						<div class="t-c p-t5">电子书 纸质书 查看更多</div> 
					</span>
					<div class="line"> </div>
				</div>
				
				<div class="p-l10 p-r10 m-t40 flex wrap">
					<div v-for="i,index in list3" class="p10 quality people-wrap">
						<div class="bg-blue c-white">
							<div class="t-c people-img">
								<img class="w-full circle" src="../img/img04.jpg"/>
							</div>
							<div class="p-l10 p-r10">
								<div class="s-17">武则天</div>
								<div class="m-t10 s-14">（1860-2018）</div>
								<div class="s-13 l-h23 p-b10 p-t10 c-lig-white">
									这是一个大气磅礴的王朝，这是中国历史上空前绝后的一代女皇。她的智慧和韬略，令男权社会的须眉俯首称臣。她是怎么样从唐太宗的才人变成唐高宗的皇后的？
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  ================== 按姓氏查找 ================== -->
			<div>
				<div class="divingLine">
					<div class="line"> </div>
					<span class="title"> 
						<div class="bold s-20 t-c">按姓氏查找</div>
						<div class="t-c p-t5">查寻传记</div> 
					</span>
					<div class="line"> </div>
				</div>
				
				<div class="update-wrap row p0 m0">
					<div v-for="i,index in list4" @click="toDetail('classify.html')" class="col-lg-2 col-md-2 col-sm-2 col-xs-4 p0 m0">
						<div class="p5">
							<div class="quality p20 bg-f8">
								<img class="w-full" src="../img/img05.jpg"/>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!--  ================== 底部 ================== -->
			<div class="c-white bg-43 p-t10 s-14">
				<div class="update-wrap">
					<div class="row p0 m0">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 p20 m0 t-c">
							<span class="iconfont "></span>
							<div>意派科技</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 p20 m0 t-c">
							<span class="iconfont "></span>
							<div>227979505</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 p20 m0 t-c">
							<span class="iconfont "></span>
							<div>13760000000</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p20 m0 t-c">
						<span class="iconfont "></span>
						<div>support@21epub.com</div>
					</div>
					</div>
					<div class="row m-l10 m-r10 b-twhite">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p10 m0 t-c">
							© 2014-2017 上海意派信息科技有限公司
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p10 m0 t-c tiny-no">
							<div>
								<span class="iconfont "></span>意派科技
								<span class="iconfont "></span>227979505
								<span class="iconfont "></span>13760000000
							</div>
							<div>
								<span class="iconfont "></span>support@21epub.com
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p10 m0 t-c tiny-no">
							沪ICP备13031638号
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#vmMain',
				data: {
					list1:[
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false}
					],
					list2:[
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
					],
					list3:[
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false}
					],
					list4:[
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false},
						{showHover:false}
					]
				},
				methods: {
					load: function() {

					},
					enter:function(n){
						console.log("enter");
						this.list1[n].showHover = true;
						
					},
					toDetail:function(url){
						window.open(url);
					},
					leave:function(n){
						console.log('离开哦')
						this.list1[n].showHover = false;
					},
				}
			})
			vm.load();
			// 手机端swiper
			window.onload = function() {
				var swiper = new Swiper('.swiper-container', {
					slidesPerView: 1,
					spaceBetween: 30,
					loop: true,
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},
				});

			}
		</script>
	</body>

</html>