<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小吃网</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
        .side{padding: 0 20px 50px;}
        .side li:hover{color: #de4526;cursor: pointer;}
        .pager li{margin: auto 5px;}
        .pager li a{border-radius: 0;background: #f4f4f4;color: #868686;border: 0;font-size: 12px}
        .pager li:hover a{border-radius: 0;background: #de4526;color: #fff;}
   		.blankDiv{position:absolute;bottom:0;z-index:99;background:#de4526;height:50px;color: #fff;width:170px;left:0px;}
   		 .addCar{position:absolute;top:0;left:0;background:rgba(0, 0, 0, .3);width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
        .cart-hover:hover{background: #df4626;border-radius: 50%;width:60px;height:60px;line-height: 65px;text-align: center;}
		.cart-hover{width:60px;height:60px;line-height: 65px;text-align: center;}
    </style>
</head>

<body>
    <div id="vmMain">
        <!-- 顶部banner logo和导航栏  -->
        <div class="banner relative">
            <div class="flex p-t50">
                <div class="t-c logo"> <img class="w-100" src="../img/logo.png" alt="" /> </div>
                <div class="w-pre70 flex m-t20">
                    <div class="nav">
                        <li> <a href="index.html" class="bg-red c-white">网站首页</a> </li>
                        <li> <a href="ranking.html">排行榜</a> </li>
                        <li><a href="cart.html">购物车</a> </li>
                        <li><a href="order.html">我的订单</a> </li>
                        <li><a href="contact.html">联系我们</a> </li>
                    </div>
                    <div class="m-t15 relative">
                    	<a href="login.html" class="s-14 c-9">登录</a>
                    	<a href="signup.html" class="s-14 c-9">注册</a>
                    	<div class="search">
                    	<div class="relative">
                    		<input type="text" class="form-control" placeholder="搜索"/>
                    		<span class="iconfont iconsuosou s-20"></span>
                    	</div>
                    		
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 中间  -->
        <div class="bg-pink">
         	<img class="w-full" src="../img/banner.jpg" alt="">
         	<div class="relative w-pre80 m-lpre10">
          		<div class="blankDiv"> </div>
            </div>
        	<div class="bg-white w-pre80 m-lpre10 o-hidden">
	            <div class="w-170 f-l bg-gray" style="padding-bottom: 9999px;margin-bottom: -9999px;">
	                <div class="relative c-white w-170 bg-red p-t20 p-r10 p-l10 p-b15">
	                    <div>四川小吃</div>
	                    <div>snack</div>
	                </div>
	                <div class="bg-gray w-170">
	                    <ul class="side">
                            <li class="p10">成都</li>
                            <li class="p10">绵阳</li>
                            <li class="p10">南充</li>
                            <li class="p10">南昌</li>
                            <li class="p10">德阳</li>
                            <li class="p10">宜宾</li>
	                    </ul>
	                    <div class="t-c">
	                        <img class="w-40" src="../img/iPhone.png" alt="">
	                        <div class="s-12 c-9 p-t10">全国免费咨询热线</div>
	                        <div class="p-b30 c-lig-red">400-400-400</div>
	                        <img class="w-full" src="../img/d.jpg" alt="">
	                    </div>
	                </div>
	            </div>
	            <div class="o-hidden p-l50 m-r100">
	                <div class="row m-l20 m-t50">
	                    <div v-for="i,index in list" @mouseenter="enter(index)" @mouseleave="leave(index)" class="col-xs-4 p10">
	                        <div class="relative pointer">
	                            <img class="w-full" src="../img/gh.jpg" alt="">
	                              <div v-if="i.show" class="addCar relative">
                               <div @click="toDetail(i)" style="width: 100%;height: 100%;position: absolute;z-index: 99;"></div>
                               <span @click="addCar(i)" class="c-white cart-hover" style="position: absolute;top: 50%;left: 50%;margin-left: -30px;margin-top: -30px;z-index: 999;">
                                    <span class="iconfont icongouwuche s-30"></span>
                                </span> 
                            </div>
	                        </div>
	                        <div class="bg-gray p15">
	                            <div class="flex between">
	                                <div>{{i.name}}</div>
	                                <div class="c-lig-red">{{i.price}}</div>
	                            </div>
	                        </div>
	                    </div> 
	                    <div class="col-xs-12 p-b50">
	                        <nav aria-label="...">
	                            <ul class="pager">
	                                <li><a href="#">首页</a></li>
	                                <li><a href="#">上一页</a></li>
	                                <li><a href="#" class="bg-red c-white">1</a></li>
	                                <li><a href="#">2</a></li>
	                                <li><a href="#">3</a></li>
	                                <li><a href="#">下一页</a></li>
	                                <li><a href="#">尾页</a></li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!--  底部 -->
	    <div class="t-c c-white bg-black p15"> Copyright &copy; 2002-2020 某某有机产品有限公司 版权所有 </div>
	</div>

    <script src="../js/vue.min.js"></script>
    <script>
    var vm = new Vue({
        el:"#vmMain",
        data:{
            list:[
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
                {img:'../img/gh.jpg',name:'龙抄手',address:'四川比得上基地',price:'￥20.00',show:false},
            ]
        },
        methods:{
        	// 加入购物车 存储在本地
        	addCar:function(detail){
        		var shoppingCart = localStorage.getItem('shoppingCart');
        		if(shoppingCart){
        			shoppingCart = JSON.parse(shoppingCart);
        			shoppingCart.push(detail);
        			localStorage.setItem('shoppingCart',JSON.stringify(shoppingCart));
        		}else{
        			shoppingCart = [];
        			shoppingCart.push(detail);
        			localStorage.setItem('shoppingCart',JSON.stringify(shoppingCart));
        		}
        		this.shoppingCartCount =  getCartCount();
        		toastr.success('加入购物车成功');
        	},
        	// 跳转到详情
        	toDetail:function(){
        		window.open("product-detail.html","_blank");         
        	},
            enter:function(n){
                for(let i=0;i<this.list.length;i++){
                    this.list[i].show = false;
                }
                this.list[n].show = true;
            },
            leave:function(n){
                this.list[n].show = false;
            }
        }
    })
    </script>
</body>

</html>