<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>广告联盟</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 768px)" href="../css/tinyScreen.css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px)" href="../css/largeScreen.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.css"/>
		<style type="text/css">
			a:hover { text-decoration: none ;}
			a:link { text-decoration: none; }
			.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
			.clearfix { *zoom: 1; }
			.wrapper { position: relative; height: 1rem; width: 100%; overflow: hidden; 	margin: 0 auto; }
			.wrapper .scroller { position: absolute ;}
			.wrapper .scroller li { height: 1rem; color: #333; float: left; line-height: 1rem; font-size: 14px; text-align: center }
			.wrapper .scroller li a { color: #333; display: block; margin: 0 .3rem }
			.wrapper .scroller li.cur a { color: #1cbb9b; }
			.row .active:hover{box-shadow: 0 0 10px #ead387;border: 1px solid #ead387; }
			h3,.h3{font-size: 24px;font-weight: bold;}
			h4,.h4{font-size: 36px;margin-bottom: 15px;font-weight: bold;}
			
			
			.swiper-container,.swiper-container-media {
		      width: 100%;
		      height: 100%;
		    }
		    .swiper-slide {
		      text-align: center;
		      background: #fff;
		      display: -webkit-box;
		      display: -ms-flexbox;
		      display: -webkit-flex;
		      display: flex;
		      -webkit-box-pack: center;
		      -ms-flex-pack: center;
		      -webkit-justify-content: center;
		      justify-content: center;
		      -webkit-box-align: center;
		      -ms-flex-align: center;
		      -webkit-align-items: center;
		      align-items: center;
		    }
		</style>
	</head>

	<body>
		<div id="vmMain">
			<!-- ================= 导航 ================= -->
			<div class="bg-yellow">
				<div class="mainWrap" id="nav-wrap">
					<div class="m-t20 w-150 p-r20 logo f-l">
						<img class="w-full" src="../img/logo1.jpg" />
					</div>
					<div class="t-r m-t20 w-100 p-t5 login p-r10 f-r">
						<button class="bg-white-yellow p-2-25 r3 b-0 nooutline pointer">登录</button>
					</div>
					<div class="wrapper" id="retr" :style="{width:scrolleWidth+'px'}">
						<div class="scroller">
							<ul class="clearfix">
								<li>
									<a href="javascript:void(0)">平台概览</a>
								</li>
								<li>
									<a href="javascript:void(0)">广告资源</a>
								</li>
								<li>
									<a href="javascript:void(0)">广告技术</a>
								</li>
								<li>
									<a href="javascript:void(0)">成功案例</a>
								</li>
								<li>
									<a href="javascript:void(0)">了解更多</a>
								</li>
								<li>
									<a href="javascript:void(0)">流量变现</a>
								</li>
								<li>
									<a href="javascript:void(0)">营销学院</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<div v-if="show=='pcView'">
				<!-- ================= 申请成为广告主 ================= -->
				<div class="bg-lig-gray">
					<div class="mainWrap s-14">
						<div class="p-t20">广告联盟 / 广告资源</div>
						<div class="m-t30 p-b30">
							<h3 class="t-c">广告类型</h3>
							<div class="t-c mainWrap tinyNo">丰富的广告资源，高效精准的投放</div>
							<div class="row rowWrap p-t20" style="margin: 0;">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad03.png" />
										</div>
										<div class="c-1 title p-t10">公众号、个人号涨粉</div>
										<div class="c-5 text p-t10">根据公众号类型，推送适合的粉丝，精选优质粉丝渠道，粉丝覆盖广，日加粉量大，可帮您快速涨粉</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad05.png" />
										</div>
										<div class="c-1 p-t10 title">APP引流</div>
										<div class="c-5 p-t10 text">介绍文字介绍文字介绍文字介绍文字介绍文字介绍文字</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>-->
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad07.png" />
										</div>
										<div class="c-1 p-t10 title">公益便民机LED屏幕广告</div>
										<div class="c-5 p-t10 text">通过机器多媒体系统展示企业品牌宣传</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad09.png" />
										</div>
										<div class="c-1 p-t10 title">公益便民机机身广告</div>
										<div class="c-5 p-t10 text">通过机器机身包装达到品牌视觉宣传</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad15.png" />
										</div>
										<div class="c-1 p-t10 title">广告产品包装广告</div>
										<div class="c-5 p-t10 text">线下宣传产品包装，提升品牌价值</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad16.png" />
										</div>
										<div class="c-1 p-t10  title">APP开屏广告</div>
										<div class="c-5 p-t10 text">行业优质媒体，提高广告效果及美誉度</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad17.png" />
										</div>
										<div class="c-1 p-t10 title">APP信息流广告</div>
										<div class="c-5 p-t10 text">50W+合作主流移动端口大数据筛选精准投放</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad32.png" />
										</div>
										<div class="c-1 p-t10 title">自媒体（公众号微博朋友圈）</div>
										<div class="c-5 p-t10 text">直通1000多家媒体，权威媒体在线直发</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad18.png" />
										</div>
										<div class="c-1 p-t10 title">朋友圈广告</div>
										<div class="c-5 p-t10 text">拥抱微信10亿用户入口，通过自媒体广告平台定时、定点、定量精准投放</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad23.png" />
										</div>
										<div class="c-1 p-t10 title">外卖包装广告</div>
										<div class="c-5 p-t10 text">美团、饿了么等主流外卖包装广告宣传</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad24.png" />
										</div>
										<div class="c-1 p-t10 title">车贴广告</div>
										<div class="c-5 p-t10 text">将广告视频、动画、图片等以投影的方式，在汽车后窗展示出来，使车外的人对此清晰可见，并结合微信摇一摇、免费WIFI等功能，使您的广告得以及时地出现在受众的手机中，转化为受众的购买，实现双屏互动</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad25.png" />
										</div>
										<div class="c-1 p-t10  title">网络广告</div>
										<div class="c-5 p-t10 text">直通2000+全网覆盖营销</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad26.png" />
										</div>
										<div class="c-1 p-t10 title">关键词搜索</div>
										<div class="c-5 p-t10 text">线上精准词条搜索，大数据筛选增加曝光量，增加100-400个搜索曝光机会</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/ad31.png" />
										</div>
										<div class="c-1 p-t10 title">电子传单</div>
										<div class="c-5 p-t10 text">实用、智能、多功能、自助化、多终端无障碍访问</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="t-c m-t50 p-t30 p-b50"> <span class="bg-yellow s-18 bold apply-btn">申请成为广告主</span> </div>
						</div>
					</div>
				</div>
				<!-- ================= 申请成为媒体主 ================= -->
				<div class="bg-white p-t20">
					<div class="mainWrap s-15">
						<div class="m-t20 p-b30">
							<h3 class="t-c">媒体资源</h3>
							<div class="t-c mainWrap tinyNo">大量合作媒体资源，多场景渠道选择</div>
							<div class="row p-t20" style="margin: 0;">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med01.png" />
										</div>
										<div class="c-1 p-t10 title-media">多媒体公益便民机</div>
										<div class="c-5 p-t10 text">提供LED屏幕画面、视频投放以及机身包装、二维码吸粉</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med02.png" />
										</div>
										<div class="c-1 p-t10 title-media">无人售货机</div>
										<div class="c-5 p-t10 text">热门商超放置，精准投放宣传</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med03.png" />
										</div>
										<div class="c-1 p-t10 title-media">免费WIFI</div>
										<div class="c-5 p-t10 text">200W+合作商免费提供机器，线上广告垂直投放</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med04.png" />
										</div>
										<div class="c-1 p-t10 title-media">照片打印机</div>
										<div class="c-5 p-t10 text">各大商圈热点提供免费打印照片设备，可为商家公众号引流吸粉</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med05.png" />
										</div>
										<div class="c-1 p-t10 title-media">称重机</div>
										<div class="c-5 p-t10 text">各大商圈热点提供称重设备，线上引流增粉，业务转化同时进行</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med06.png" />
										</div>
										<div class="c-1 p-t10 title-media">共享充电宝</div>
										<div class="c-5 p-t10 text">各大商超娱乐休闲场所提供免费充电宝设备</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med07.png" />
										</div>
										<div class="c-1 p-t10 title-media">APP</div>
										<div class="c-5 p-t10 text">优质行业媒体APP广告资源</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med08.png" />
										</div>
										<div class="c-1 p-t10 title-media">网站</div>
										<div class="c-5 p-t10 text">优质行业网站APP广告资源</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/med09.png" />
										</div>
										<div class="c-1 p-t10 title-media">自媒体</div>
										<div class="c-5 p-t10 text">各大主流媒体资源</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="t-c m-t50 p-t30 p-b50"> <span class="bg-yellow s-18 bold apply-btn">申请成为媒体主</span> </div>
						</div>
					</div>
				</div>
				<!-- ================= 广告主 ================= -->
				<div class="bg-lig-gray p-b50 s-15">
					<div class="row p-b50" style="margin: 0;padding-top: 80px;">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p10">
							<div class="w-pre80 m-lpre20">
								<h4 class="c-other-yellow p-t50 m-l20">广告主</h4>
								<div class="m-l20 p-r20 s-20 p-t10 l-h40">
									广告资源采购环节标准化、流程化、广告主直接与媒体对接，<b class="c-yellow">没有中间商赚差价</b>。采用一站式撮合交易，去除广告投放过多中间环节，集合化购买大大降低广告采购成本，为广告主提供简单、高效、省钱、放心的一站式自助广告投放
								</div>
								<div class="m-t30 p-b50 m-l20"> <span class="bg-yellow p-8-25 r5 s-20" >申请成为广告主</span> </div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p10 m-t30">
							<div class="m-lpre10">
								<img class="w-pre90" src="../img/qu01.png" />
							</div>
						</div>
					</div>
				</div>
				<!-- ================= 媒体主 ================= -->
				<div class="bg-white s-15">
					<div class="row p-t20" style="margin: 0;">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p10">
							<div class="relative" style="display: inline;">
								<img class="w-pre90" src="../img/qu02.png" />
								<span style="position: absolute;right: -25px;top: 30%;" class="s-30 c-other-yellow">媒体主</span>
							</div>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 p10">
							<div class="w-pre90 m-lpre5">
								<h4 class="c-other-yellow m-t50 p-t50 m-l20">媒体主 -- 即时实现广告资源变现</h4>
								<div class="m-l20 p-r20 s-20 p-t10 l-h40">
									依托场景大数据精准的人群分析能力和海量的优质广告投放，悠庭广告联盟通过丰富的广告样式为资源主提供最优质的商业化解决方案。
									<br />
									帮助 <b class="c-0">免费纸巾机、自主贩卖机、LED显示屏、共享设备、灯箱等运营商；APP、网站、公众号等自媒体主；</b>实现广告位资源变现。
									
									<br />
									<b class="c-yellow">悠庭科技</b>依托日产近千台的多媒体广告礼品派送机、无人售货机、无线充电宝等设备帮助没有资源的伙伴也能轻松拥有媒体资源，合伙人无风险购买设备（不盈利可退）即可注册成为平台资源主，从而获得高额的广告收益。
								</div>
								<div class="m-t30 p-b50 m-l20"> <span class="bg-yellow p-8-25 r5 s-20" >申请成为媒体主</span> </div>
							</div>
						</div>
					</div>
				</div>
				<!-- ================= 城市合伙人 ================= -->
				<div class="bg-lig-gray p-t50 p-b50">
					<div class="mainWrapPre90 s-15">
						<div class="row" style="margin: 0;">
							<h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 c-other-yellow p-l20">城市运营商 - 交易平台城市合伙人</h4>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p10">
								<div class="m-l20 s-20 p-t10" style="line-height: 40px;">
									针对不同类型的合作需求，采取不同的合作模式：<br />
									城市合伙人分为省级、省会城市、地市级、区县级；<br />
									合伙人享有独家区域保护政策，区域越大，收益越大；<br />
									合伙人拥有多重收益，广告交易销售提成、广告收益分成、设备销售分成；<br />
									合伙人可使用平台品牌使用权等。<br />
									合伙人拥有二级代理后台；开通微信小程序远程管理设备， <br />
									总部对接线上线下广告资源及流量推广，共享广告业务<br />
								</div>
								<div class="m-t50 p-b50 m-l20"> <span class="bg-yellow p-8-25 r5 s-20" >申请成为广告主</span> </div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p10" style="margin-top: -50px;">
								<img class="w-full" src="../img/qu03.png" />
							</div>
						</div>
					</div>
				</div>
				<!-- =================   ================= -->
				<div class="bg-white p-t20">
					<div class="mainWrap s-15">
						<div class="m-t30">
							<h3 class="t-c">悠庭媒体投放选择</h3>
							<div class="t-c mainWrap tinyNo">线上线下结合，广告覆盖全面</div>
							<div class="row p-t20" style="margin: 0;">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo09.png" />
										</div>
										<div class="c-1 p-t10 title">公众号、个人微信号涨粉</div>
										<div class="c-5 p-t10 text">根据公众号类型，推送适合的粉丝，精选优质粉丝渠道，粉丝覆盖广，日加粉量大，可帮您快速涨粉</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo11.png" />
										</div>
										<div class="c-1 p-t10 title">APP引流</div>
										<div class="c-5 p-t10 text">50W+合作主流移动端口大数据筛选精准投放</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo13.png" />
										</div>
										<div class="c-1 p-t10 title">公益便民机LED屏幕广告</div>
										<div class="c-5 p-t10 text">通过机器多媒体系统展示企业品牌宣传</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo15.png" />
										</div>
										<div class="c-1 p-t10 title">公益便民机机身广告</div>
										<div class="c-5 p-t10 text">通过机器机身包装达到品牌视觉宣传</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo21.png" />
										</div>
										<div class="c-1 p-t10 title">广告产品包装广告</div>
										<div class="c-5 p-t10 text">线下宣传产品包装，提升品牌价值</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo22.png" />
										</div>
										<div class="c-1 p-t10 title">APP开屏广告</div>
										<div class="c-5 p-t10 text">行业优质媒体，提高广告效果及美誉度</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p10">
									<div class="r3 bg-white shadow-c t-c p15 pointer active">
										<div class="p-t10">
											<img class="w-pre30" src="../img/foo23.png" />
										</div>
										<div class="c-1 p-t10 title">APP信息流广告</div>
										<div class="c-5 p-t10 text">50W+合作主流移动端口大数据筛选精准投放</div>
										<div class="p-t20 p-b10">
											<span class="iconfont iconarrowrightalt2 c-orange s-20"></span>
										</div>
									</div>
								</div>
	
							</div>
							<div class="t-c m-t30 p-b50"> </div>
						</div>
					</div>
				</div>
				<!-- =================  表单 ================= -->
				<div class="bg-gray p-t50 p-b30">
					<div class=" w-pre80 m-lpre10">
						<div class="t-c s-24 bold p-b10">联系我们</div>
						<div class="flex p-t20">
							<div class="p-t10 p-l10 p-r10 w-full">
								<input class="nooutline b-lig-gray r5 bg-white w-full h-38 p-l10" placeholder="姓名"/>
							</div>
								<div class="p-t10 p-l10 p-r10 w-full w-full">
								<input class="nooutline b-lig-gray r5 bg-white w-full h-38 p-l10" placeholder="电话"/>
							</div>
						</div>
						
						<div class="p-t20 p-l10 p-r10">
							<textarea name="" rows="8"   class="nooutline b-lig-gray r5 bg-white w-full h-100 p10" placeholder="留言"></textarea>
						</div>
						<div class="p-t50 p-l10 p-r10 t-c p-b30">
							  <span class="bg-yellow s-18 bold p-8-25 r10 pointer">提交</span> 
						</div>
					</div>
				</div>
			</div>
			<!-- 手机端显示 -->
			<div v-if="show=='phoneView'">	
				<!-- 申请成为广告主 -->
				<div class="bg-lig-gray">
					<div class="t-c s-18 p-t30">广告类型</div>
					<div class="w-pre80 m-lpre10 relative m-t30 swiper-adver">
						<div class="swiper-container">
						    <div class="swiper-wrapper" >
						      	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad03.png" />
										</div>
										<div class="c-1 title p-t10">公众号、个人号涨粉</div>
										<div class="c-5 text p-t10">根据公众号类型，推送适合的粉丝，精选优质粉丝渠道，粉丝覆盖广，日加粉量大，可帮您快速涨粉</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <!--<div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad05.png" />
										</div>
										<div class="c-1 title p-t10">APP引流</div>
										<div class="c-5 text p-t10">介绍文字介绍介绍文字介绍文字介绍文字介绍文字</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>-->
							    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad07.png" />
										</div>
										<div class="c-1 title p-t10">公益便民机LED屏幕广告</div>
										<div class="c-5 text p-t10">通过机器多媒体系统展示企业品牌宣传</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad09.png" />
										</div>
										<div class="c-1 title p-t10">公益便民机机身广告</div>
										<div class="c-5 text p-t10">通过机器机身包装达到品牌视觉宣传</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
							    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad15.png" />
										</div>
										<div class="c-1 title p-t10">广告产品包装广告</div>
										<div class="c-5 text p-t10">线下宣传产品包装，提升品牌价值</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad16.png" />
										</div>
										<div class="c-1 title p-t10">APP开屏广告</div>
										<div class="c-5 text p-t10">行业优质媒体，提高广告效果及美誉度</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
							    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad17.png" />
										</div>
										<div class="c-1 title p-t10">APP信息流广告</div>
										<div class="c-5 text p-t10">50W+合作主流移动端口大数据筛选精准投放</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
						      	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad32.png" />
										</div>
										<div class="c-1 title p-t10">自媒体（公众号微博朋友圈）</div>
										<div class="c-5 text p-t10">直通1000多家媒体，权威媒体在线直发</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad18.png" />
										</div>
										<div class="c-1 title p-t10">朋友圈广告</div>
										<div class="c-5 text p-t10">拥抱微信10亿用户入口，通过自媒体广告平台定时、定点、定量精准投放</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
							    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad23.png" />
										</div>
										<div class="c-1 title p-t10">外卖包装广告</div>
										<div class="c-5 text p-t10">美团、饿了么等主流外卖包装广告宣传</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad24.png" />
										</div>
										<div class="c-1 title p-t10">车贴广告</div>
										<div class="c-5 text p-t10">将广告视频、动画、图片等以投影的方式，在汽车后窗展示出来，使车外的人对此清晰可见，并结合微信摇一摇、免费WIFI等功能，使您的广告得以及时地出现在受众的手机中，转化为受众的购买，实现双屏互动</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
							    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad25.png" />
										</div>
										<div class="c-1 title p-t10">网络广告</div>
										<div class="c-5 text p-t10">直通2000+全网覆盖营销</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad26.png" />
										</div>
										<div class="c-1 title p-t10">关键词搜索</div>
										<div class="c-5 text p-t10">线上精准词条搜索，大数据筛选增加曝光量，增加100-400个搜索曝光机会</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
							    <div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad31.png" />
										</div>
										<div class="c-1 title p-t10">电子传单</div>
										<div class="c-5 text p-t10">实用、智能、多功能、自助化、多终端无障碍访问</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <!--<div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/ad32.png" />
										</div>
										<div class="c-1 title p-t10">自媒体（公众号微博朋友圈）</div>
										<div class="c-5 text p-t10">介绍文字介绍介绍文字介绍文字介绍文字介绍文字</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>-->
						    </div>
				  		</div>
				  		 <div class="swiper-button-next" style="right: -30px;"></div>
					    <div class="swiper-button-prev" style="left: -30px;"></div>
					    
					</div>
					<div class="t-c p-t20 p-b30"> <span class="bg-yellow s-12 apply-btn">申请成为广告主</span> </div>
				</div>
			 	<!-- 申请成为媒体主 -->
				<div class="bg-white">
					<div class="t-c s-18 p-t30">媒体资源，多场景渠道选择</div>
					<div class="w-pre80 swiper-media m-lpre10 relative m-t30">
						<div class="swiper-container ">
						    <div class="swiper-wrapper" >
						      	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med01.png" />
										</div>
										<div class="c-1 title p-t10">多媒体公益便民机</div>
										<div class="c-5 text p-t10">提供LED屏幕画面、视频投放以及机身包装、二维码吸粉</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med02.png" />
										</div>
										<div class="c-1 title p-t10">无人售货机</div>
										<div class="c-5 text p-t10">热门商超放置，精准投放宣传</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
						    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med03.png" />
										</div>
										<div class="c-1 title p-t10">免费WIFI</div>
										<div class="c-5 text p-t10">200W+合作商免费提供机器，线上广告垂直投放</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med04.png" />
										</div>
										<div class="c-1 title p-t10">照片打印机</div>
										<div class="c-5 text p-t10">各大商圈热点提供免费打印照片设备，可为商家公众号引流吸粉</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
						    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med05.png" />
										</div>
										<div class="c-1 title p-t10">称重机</div>
										<div class="c-5 text p-t10">各大商圈热点提供称重设备，线上引流增粉，业务转化同时进行</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med06.png" />
										</div>
										<div class="c-1 title p-t10">共享充电宝</div>
										<div class="c-5 text p-t10">各大商超娱乐休闲场所提供免费充电宝设备</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
						    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med07.png" />
										</div>
										<div class="c-1 title p-t10">APP</div>
										<div class="c-5 text p-t10">优质行业媒体APP广告资源</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med08.png" />
										</div>
										<div class="c-1 title p-t10">网站</div>
										<div class="c-5 text p-t10">优质行业网站APP广告资源</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
							   <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/med09.png" />
										</div>
										<div class="c-1 title p-t10">自媒体</div>
										<div class="c-5 text p-t10">各大主流媒体资源</div>
										<div class="p-t10">
											<span class="iconfont iconarrowup c-5"></span>
										</div>
									</div>
							    </div>
						    </div>
				  		</div>
				  		 <div class="swiper-button-next" style="right: -30px;"></div>
					    <div class="swiper-button-prev" style="left: -30px;"></div>
					    
					</div>
					<div class="t-c p-t20 p-b30"> <span class="bg-yellow s-12 apply-btn">申请成为媒体主</span> </div>
				</div>
			 	<!--    -->
				<div class="bg-lig-gray p-b30">
					<div class="t-c s-18 p-t30">悠庭媒体投放选择</div>
					<div class="w-pre80 swiper-nothing m-lpre10 relative m-t30">
						<div class="swiper-container ">
						    <div class="swiper-wrapper" >
						      	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo09.png" />
										</div>
										<div class="c-1 title p-t10">公众号、个人微信号涨粉</div>
										<div class="c-5 text p-t10">根据公众号类型，推送适合的粉丝，精选优质粉丝渠道，粉丝覆盖广，日加粉量大，可帮您快速涨粉</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo11.png" />
										</div>
										<div class="c-1 title p-t10">APP引流</div>
										<div class="c-5 text p-t10">50W+合作主流移动端口大数据筛选精准投放</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
							    </div>
						    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo13.png" />
										</div>
										<div class="c-1 title p-t10">公益便民机LED屏幕广告</div>
										<div class="c-5 text p-t10">通过机器多媒体系统展示企业品牌宣传</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo15.png" />
										</div>
										<div class="c-1 title p-t10">公益便民机机身广告</div>
										<div class="c-5 text p-t10">通过机器机身包装达到品牌视觉宣传</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
							    </div>
						    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo21.png" />
										</div>
										<div class="c-1 title p-t10">广告产品包装广告</div>
										<div class="c-5 text p-t10">线下宣传产品包装，提升品牌价值</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
						      	</div>
							    <div class="swiper-slide">
						    		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo22.png" />
										</div>
										<div class="c-1 title p-t10">APP开屏广告</div>
										<div class="c-5 text p-t10">行业优质媒体，提高广告效果及美誉度</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
							    </div>
						    	<div class="swiper-slide">
						      		<div class="r3 bg-white shadow-c t-c p10 pointer active">
										<div>
											<img class="w-pre30" src="../img/foo23.png" />
										</div>
										<div class="c-1 title p-t10">APP信息流广告</div>
										<div class="c-5 text p-t10">50W+合作主流移动端口大数据筛选精准投放</div>
										<div class="p-t10">
											<span class="iconfont iconarrowrightalt2 c-orange"></span>
										</div>
									</div>
						      	</div>
						    </div>
				  		</div>
				  		 <div class="swiper-button-next" style="right: -30px;"></div>
					    <div class="swiper-button-prev" style="left: -30px;"></div>
					</div>
				</div>
			 	<!-- ================= 广告主 ================= -->
				<div class="bg-lig-gray p-b30 s-15 p-t50" style="background: #f3f3f3;">
					<div class="flex" style="margin: 0;">
						<div class="w-full p-l20">
							<h4 class="c-other-yellow s-14">广告主</h4>
							<div class="p-r20 s-9 l-h18">
								广告资源采购环节标准化、流程化、广告主直接与媒体对接，<b class="c-yellow">没有中间商赚差价</b>。采用一站式撮合交易，去除广告投放过多中间环节，集合化购买大大降低广告采购成本，为广告主提供简单、高效、省钱、放心的一站式自助广告投放
							</div>
							<div class="p-t20 p-b30"> <span class="bg-yellow s-12 apply-btn">申请成为广告主</span> </div>
						</div>
						<div class="w-pre80 p-t20">
							<img class="w-full" src="../img/qu01.png" />
						</div>
					</div>
				</div>
			 	<!-- ================= 媒体主 ================= -->
				<div class="bg-white s-15">
					<div class="flex p-t20" style="margin: 0;">
							<div class="relative w-pre60 p-t20" style="display: inline;">
								<img class="w-full" src="../img/qu02.png" />
								<span style="position: absolute;right: -15px;top: 35%;" class="s-14 c-other-yellow">媒体主</span>
							</div>
							<div class="w-full">
								<h4 class="c-other-yellow m-l20 s-14">媒体主 -- 即时实现广告资源变现</h4>
								<div class="m-l20 p-r10 s-9  l-h18">
									依托场景大数据精准的人群分析能力和海量的优质广告投放，悠庭广告联盟通过丰富的广告样式为资源主提供最优质的商业化解决方案。
									<br />
									帮助 <b class="c-0">免费纸巾机、自主贩卖机、LED显示屏、共享设备、灯箱等运营商；APP、网站、公众号等自媒体主；</b>实现广告位资源变现。
									
									<br />
									<b class="c-yellow">悠庭科技</b>依托日产近千台的多媒体广告礼品派送机、无人售货机、无线充电宝等设备帮助没有资源的伙伴也能轻松拥有媒体资源，合伙人无风险购买设备（不盈利可退）即可注册成为平台资源主，从而获得高额的广告收益。
								</div>
								<div class="p-t20 p-b30 m-l20"> <span class="bg-yellow s-12 apply-btn">申请成为媒体主</span> </div>
						</div>
					</div>
				</div>
				<!-- ================= 城市合伙人 ================= -->
				<div class="bg-lig-gray p-t50 p-b50">
					<h4 class="c-other-yellow m-l20 s-14">城市运营商 - 交易平台城市合伙人</h4>
					<div class="flex p-l20">
						<div>
							<div class="s-9 l-h18">
								针对不同类型的合作需求，采取不同的合作模式：<br />
								城市合伙人分为省级、省会城市、地市级、区县级；<br />
								合伙人享有独家区域保护政策，区域越大，收益越大；<br />
								合伙人拥有多重收益，广告交易销售提成、广告收益分成、设备销售分成；<br />
								合伙人可使用平台品牌使用权等。<br />
								合伙人拥有二级代理后台；开通微信小程序远程管理设备， <br />
								总部对接线上线下广告资源及流量推广，共享广告业务<br />
							</div>
							<div class="p-t20"> <span class="bg-yellow s-12 apply-btn">申请成为运营商</span> </div>
						</div>
						<div class="w-pre60 p-t20">
							<img class="w-full" src="../img/qu03.png" />
						</div>
					</div>
				</div>
				<!-- ================= 表单 ================= -->
				<div class="bg-white p-t20 p-b30">
					<div class="t-c s-16 p-b10">联系我们</div>
					<div class="p-t10 p-l10 p-r10">
						<input class="nooutline b-lig-gray r5 bg-white w-full h-38 p-l10" placeholder="姓名"/>
					</div>
						<div class="p-t10 p-l10 p-r10">
						<input class="nooutline b-lig-gray r5 bg-white w-full h-38 p-l10" placeholder="电话"/>
					</div>
					<div class="p-t10 p-l10 p-r10">
						<textarea name="" rows="8"   class="nooutline b-lig-gray r5 bg-white w-full h-100 p10" placeholder="留言"></textarea>
					</div>
					<div class="p-t20 p-l10 p-r10 t-c p-b10">
						  <span class="bg-yellow s-12 apply-btn">提交</span> 
					</div>
				</div>
			</div>
			<!-- 底部 -->
			<div class="bg-5 c-white tiny-p-b30">
				<div class="mainWrap p-t10">
					<div class="row" style="margin: 0;">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p10 flex">
							<div class="w-full">
								<div class="s-15 pointer"><b>产品介绍</b> </div>
								<div class="p-t15 pointer">产品概览</div>
								<div class="p-t10 pointer">获客宝</div>
							</div>
							<div class="w-full">
								<div class="s-15 pointer"> <b>成为伙伴</b></div>
								<div class="p-t15 pointer">成为伙伴</div>
								<div class="p-t10 pointer">加入我们</div>
							</div>
							<div class="w-full">
								<div class="s-15 pointer"><b>投放介绍</b></div>
								<div class="p-t15 pointer">朋友圈广告</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p10 flex tiny-p-t30">
							<div class="w-full">
								<div class="s-15 pointer"><b>联系我们</b> </div>
								<div class="p-t15 pointer">邮箱：232412512@qq.com</div>
								<div class="p-t10 pointer">电话：400-030-058</div>
								<div class="p-t10 pointer">运营中心地址：江苏省无锡市东方广场</div>
								<div class="p-t10 pointer">工厂地址：上海松江天马工业田风露3号</div>
							</div>
							<div class="w-full tiny-wpre60">
								<div class="s-15 pointer"> <b>微信公众号</b></div>
								<div class="p-t15 pointer">
									<img class="w-pre30 tiny-wpre80" src="../img/erwei.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-5 p15 c-white t-c" style="border-top: 1px solid #ffcd26;">
				版权所有&copy;2019上海悠庭网络科技有限公司 All rights reserved 沪ICP呗16029136号
			</div>

		</div>
		<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/iscroll.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/navbarscroll.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var navWrap = document.getElementById('nav-wrap');
			var scrolleWidth = navWrap.offsetWidth - 260;
			var vm = new Vue({
				el: '#vmMain',
				data: {
					scrolleWidth: scrolleWidth,
					show:'pcView'
				},
				methods: {
					load:function(){
						if(window.screen.width > 768){
							this.show = 'pcView';
						}else{
							this.show = 'phoneView';
						}
					},
					
				}
			})
			vm.load();
			$('.wrapper').navbarscroll();
			// 手机端swiper
			window.onload = function(){
				//  申请成为广告主
				var swiper = new Swiper('.swiper-adver .swiper-container', {
			      slidesPerView:2,
			      spaceBetween: 10,
			      slidesPerGroup: 2,
			      loop: true,
			      loopFillGroupWithBlank: true,
			      navigation: {
			        nextEl: '.swiper-adver .swiper-button-next',
			        prevEl: '.swiper-adver .swiper-button-prev',
			      },
			    });
			    //  申请成为媒体主
			    var swiperMedia = new Swiper('.swiper-media .swiper-container', {
			      slidesPerView:2,
			      spaceBetween: 10,
			      slidesPerGroup: 2,
			      loop: true,
			      loopFillGroupWithBlank: true,
			      navigation: {
			        nextEl: '.swiper-media .swiper-button-next',
			        prevEl: '.swiper-media .swiper-button-prev',
			      },
			    });
			    
			    //  申请成为媒体主
			    var swiperNothing = new Swiper('.swiper-nothing .swiper-container', {
			      slidesPerView:2,
			      spaceBetween: 10,
			      slidesPerGroup: 2,
			      loop: true,
			      loopFillGroupWithBlank: true,
			      navigation: {
			        nextEl: '.swiper-nothing .swiper-button-next',
			        prevEl: '.swiper-nothing .swiper-button-prev',
			      },
			    });
				
		 }     
		</script>
	</body>

</html>