
.logo-img{padding-left: 50px;}
.logo-img>img{width: 100px;}
.banner-img{background-size: cover}
.update-wrap{width: 80%;margin-left: 10%;}
.people-wrap{width: 20%;}
.large-margin{margin-top: 30px;margin-bottom: 30px;}

.large-no{display: none;}
.flex-pre20{width: 20%;}
.people-introduce{padding:20px 10px 20px 50px}
