*{
    margin: 0;padding: 0
}
ul,li{list-style: none;}
body,html{ font-size: 16px; font-family: "Microsoft YaHei","arial black";}

.relative{position: relative;}
.flex{display: flex;}
.between{justify-content: space-between;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.t-c{text-align: center;}
.t-l{text-align: left;}
.vertical-align-middle {vertical-align: middle;}
.visibility-hidden{visibility: hidden;}
.pointer{cursor: pointer;}
.shadow-c{box-shadow: 0 0 5px #ccc;}
.align-items-stretch{align-items: stretch}


.w-full{width: 100%;}
.w-pre90{width: 90%;}
.w-pre84{width: 84%;}
.w-pre80{width: 80%;}
.w-pre70{width: 70%;}
.w-pre60{width: 60%;}
.w-pre50{width: 50%;}
.w-pre40{width: 40%;}
.w-pre30{width: 30%;}
.w-pre33{width: 33.33%;}
.w-pre20{width: 20%;}
.w-50{width: 50px;}
.w-40{width: 40px;}

.h-100{height: 100px;}


.s-30{font-size: 30px;}
.s-24{font-size: 24px;}
.s-20{font-size: 20px;}
.s-18{font-size: 18px;}
.s-17{font-size: 17px;}
.s-16{font-size: 16px;}
.s-15{font-size: 15px;}
.s-14{font-size: 14px;}
.s-13{font-size: 13px;}
.s-12{font-size: 12px;}




.c-white{color: #fff;}
.c-3{color: #333;}
.c-4{color: #444;}
.c-5{color: #555;}
.c-6{color: #666;}
.c-9{color: #999;}
.c-green{color: #0a9c55!important;}
.c-yellow-green{color: #d6fd04}


.p10{padding: 10px;}
.p-t50{padding-top: 50px;}
.p-t30{padding-top: 30px;}
.p-t20{padding-top: 20px;}
.p-t10{padding-top: 10px;}
.p-t5{padding-top: 5px;}
.p-r10{padding-right: 10px;}
.p-r20{padding-right: 20px;}
.p-r40{padding-right: 40px;}
.p-r60{padding-right: 60px;}
.p-l60{padding-left: 60px;}
.p-l50{padding-left: 50px;}
.p-l45{padding-left: 45px;}
.p-l40{padding-left: 40px;}
.p-l30{padding-left: 30px;}
.p-l20{padding-left: 20px;}
.p-l10{padding-left: 10px;}
.p-b80{padding-bottom: 80px;}
.p-b50{padding-bottom: 50px;}
.p-b30{padding-bottom: 30px;}
.p-b20{padding-bottom: 20px;}
.p-b10{padding-bottom: 10px;}
.p-b5{padding-bottom: 5px;}




.m-t40{margin-top: 40px;}
.m-t30{margin-top: 30px;}
.m-t20{margin-top: 20px;}
.m-t2{margin-top: 2px;}
.m-t-2{margin-top: -2px;}
.m-l10{margin-left: 10px;}
.m-l5{margin-left: 5px;}
.m-r10{margin-right: 10px;}


.bg-green{background: #009946;}
.bg-gray{background: #f5f5f5;}
.bg-yellow{background: #edbc00;}
.bg-red{background: #eb0000;}



.b-none{border: none;}
.b-gray{border:1px solid #bdbdbd}
.b-b5{border-bottom:1px solid #555}
.b-bf0{border-bottom: 1px solid #f0f0f0;}
.b-b-light-green{border-bottom:1px solid #048439}
.b-b-light-2green{border-bottom: 2px solid #009841;}



.r5{border-radius: 5px;}
.r-l-t5{border-top-left-radius: 5px;}
.r-r-t5{border-top-right-radius: 5px;}






.nav {overflow: hidden;background: #009946;padding-left: 20px;padding-right: 20px;width: 84%;}
.nav li {float: left;}
.nav li:last-child {float: right;}
.nav li a{padding: 20px;color: #fff;font-size: 17px;}
.nav li a:hover{color: #000;background:#009946;}

.nav-car-count{position:absolute;width: 15px;border-radius: 50%;height: 15px;text-align: center;line-height: 15px;;background: #fff;color: #009946;font-size: 10px}
.nav-car-count-media{top:5px;right:10px;}
@media screen and (max-width:1200px){
	.nav {overflow: hidden;background: #009946;padding-left: 15px;padding-right: 15px;width: 84%;}
	.nav li a{padding: 15px;color: #fff;font-size: 16px;}
	.nav-car-count-media{top:5px;right:8px;}
}
@media screen and (max-width:1000px){
	.nav {overflow: hidden;background: #009946;padding-left: 15px;padding-right: 15px;width: 94%;}
	.nav li a{padding: 15px;color: #fff;font-size: 16px;}
	.nav-car-count-media{top:5px;right:5px;}
}

.footer-menu {display: flex;margin-top: 30px;}
.footer-menu li {padding: 10px 20px;background: #1ca458; color: #fff; }
.footer-menu li:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; padding-left: 30px; }
.footer-menu li:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 5px; padding-right: 30px; }
.footer-nav { display: flex; margin-top: 30px; }
.footer-nav li { padding-right: 30px; color: #fff; }

.seemore-wrap{position:absolute; bottom: 50px;}
.seemore-wrap .seemore{padding:10px 20px;background:#5bd65a;color:#fff;border-radius: 30px}
.login-signup{position:absolute;text-align: right;top: 20px;width: 80%;color: #fff;}
.login-wrap{width: 80%;margin: -25% 10% 100px 10%;background: #fafafa;position: relative;z-index: 99;border-radius: 10px;}























