*{
    margin: 0;padding: 0
}
ul,li{list-style: none;}
body,html{ font-size: 16px; font-family: "Microsoft YaHei","arial black";}

.relative{position: relative;}
.flex{display: flex;}
.between{justify-content: space-between;}
.space-around{justify-content: space-around;}
.flex-end{justify-content: flex-end;}
.justify-center{justify-content: center;}
.wrap{flex-wrap: wrap;}
.align-center{align-items: center;}
.t-c{text-align: center;}
.t-l{text-align: left;}
.t-r{text-align: right;}
.vertical-align-middle {vertical-align: middle;}
.visibility-hidden{visibility: hidden;}
.pointer{cursor: pointer;}
.shadow-c{box-shadow: 0 0 5px #ccc;}
.align-items-stretch{align-items: stretch}
.o-hidden{overflow: hidden;}
.f-l{float: left;}
.f-r{float: right;}
.nooutline{outline: none;}


.w-full{width: 100%;}
.w-pre90{width: 90%;}
.w-pre84{width: 84%;}
.w-pre80{width: 80%;}
.w-pre70{width: 70%;}
.w-pre60{width: 60%;}
.w-pre50{width: 50%;}
.w-pre40{width: 40%;}
.w-pre30{width: 30%;}
.w-pre33{width: 33.33%;}
.w-pre20{width: 20%;}
.w-170{width: 170px;}
.w-100{width: 100px!important;}
.w-50{width: 50px!important;}
.w-40{width: 40px!important;}
.w-30{width: 30px;}
.w-25{width: 25px!important;}
.w-20{width: 20px!important;}
.h-100{height: 100px;}
.h-38{height: 38px!important;}


.s-30{font-size: 30px;}
.s-26{font-size: 26px;}
.s-24{font-size: 24px;}
.s-20{font-size: 20px;}
.s-18{font-size: 18px;}
.s-17{font-size: 17px;}
.s-16{font-size: 16px;}
.s-15{font-size: 15px;}
.s-14{font-size: 14px;}
.s-13{font-size: 13px;}
.s-12{font-size: 12px;}




.c-white{color: #fff!important;}
.c-0{color: #000;}
.c-3{color: #333;}
.c-4{color: #444;}
.c-5{color: #555;}
.c-6{color: #666;}
.c-9{color: #999;}
.c-d0{color: #d0d0d0;}
.c-yellow{color: #f78536!important;}
.c-red{color: #df4626;}
.c-lig-red{color: #de4526;}
.c-green{color: #0a9c55!important;}
.c-yellow-green{color: #d6fd04}
.c-orange{color: #ff8001;}
.c-blue{color: #0a94ff;}
.c-lig-green{color: #26bd0e;}


.p15{padding: 15px;}
.p10{padding: 10px;}
.p-t50{padding-top: 50px;}
.p-t30{padding-top: 30px;}
.p-t20{padding-top: 20px;}
.p-t15{padding-top: 15px;}
.p-t10{padding-top: 10px;}
.p-t8{padding-top: 8px;}
.p-t5{padding-top: 5px;}
.p-t3{padding-top: 3px;}
.p-r5{padding-right: 5px;}
.p-r10{padding-right: 10px!important;}
.p-r15{padding-right: 15px;}
.p-r20{padding-right: 20px;}
.p-r30{padding-right: 30px;}
.p-r40{padding-right: 40px;}
.p-r60{padding-right: 60px;}
.p-l60{padding-left: 60px;}
.p-l50{padding-left: 50px;}
.p-l45{padding-left: 45px;}
.p-l40{padding-left: 40px;}
.p-l30{padding-left: 30px;}
.p-l20{padding-left: 20px;}
.p-l15{padding-left: 15px;}
.p-l10{padding-left: 10px!important;}
.p-l5{padding-left: 5px;}
.p-b80{padding-bottom: 80px;}
.p-b50{padding-bottom: 50px;}
.p-b30{padding-bottom: 30px;}
.p-b20{padding-bottom: 20px;}
.p-b15{padding-bottom: 15px;}
.p-b10{padding-bottom: 10px;}
.p-b8{padding-bottom: 8px;}
.p-b5{padding-bottom: 5px;}
.p-b3{padding-bottom: 3px;}
.p-2-5{padding: 2px 5px;}
.p-2-10{padding: 2px 10px;}
.p-2-15{padding: 2px 15px;}
.p-5-15{padding: 5px 15px;}

.m-t50{margin-top: 50px;}
.m-t40{margin-top: 40px;}
.m-t30{margin-top: 30px;}
.m-t20{margin-top: 20px;}
.m-t15{margin-top: 15px;}
.m-t10{margin-top: 10px;}
.m-t2{margin-top: 2px;}
.m-t-2{margin-top: -2px;}
.m-l20{margin-left: 20px;}
.m-l10{margin-left: 10px;}
.m-l5{margin-left: 5px;}
.m-lpre10{margin-left: 10%;}
.m-r5{margin-right: 5px;}
.m-r10{margin-right: 10px;}
.m-r20{margin-right: 20px;}
.m-r100{margin-right: 100px;}


.bg-green{background: #47d94b;}
.bg-gray{background: #f5f5f5;}
.bg-yellow{background: #f78536;}
.bg-red{background: #df4626!important;}
.bg-pink{background: #fcf5ed;}
.bg-black{background: #000;}
.bg-white{background: #fff;}
.bg-blue{background: #0290fc;}
.bg-db{background: #dbdbdb;}
.bg-f3{background: #f3f3f3;}

.b-none{border: none;}
.b-0{border: none!important;}
.b-gray{border:1px solid #bdbdbd}
.b-b5{border-bottom:1px solid #555}
.b-bgray{border-bottom:1px solid #bdbdbd}
.b-bf0{border-bottom: 1px solid #f0f0f0;}
.b-b-light-green{border-bottom:1px solid #048439}
.b-b-light-2green{border-bottom: 2px solid #009841;}
.b-b-red{border-bottom: 1px solid #df4626;}
.b-b-2red{border-bottom: 2px solid #df4626;}
.b-red{border:1px solid #bd4c3a;}
.b-byellow{border-bottom: 1px solid #f78536;}
.b-l0{border-left: 0!important;}
.b-r0{border-right: 0!important;}

.r5{border-radius: 5px;}
.r10{border-radius: 10px;}
.r30{border-radius: 30px;}
.r-l-t5{border-top-left-radius: 5px;}
.r-r-t5{border-top-right-radius: 5px;}

.l-h28{line-height: 28px;}

.line-banner{
	position: absolute;left: 0;top: 6px;width: 4px;height: 14px;background: #f78536;
}
.tour-city:hover{color: #f78536;}
.search-input{height: 28px;line-height: 28px;border: 1px solid #767676;border-radius: 30px;outline: none;width: 300px;margin-left: 50px;}
.search-icon{position: absolute;left: 65px;top: 5px;}


#noticeWrap{white-space:nowrap;width: 300px;overflow: hidden;cursor: pointer;margin-left: -50px;}

.lsspots{position: absolute;bottom: 0;left: 0;width: 100%;background: rgba(0,0,0,.4);padding: 10px 8px;color: #fff;font-size: 13px;text-align: center;}
.thlist:hover{box-shadow: 0 0 8px #f78536;border: 0;}



.guide:hover{color: #f78536;}












