<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>农产品</title>
    <script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property="" />
	<link href="../css/font-awesome.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	
	
	
	
	
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/toastr.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common.css">

    <style>
       
        .menu{  display:flex;justify-content:center; }
        .menu li{padding: 10px 20px;color: #444;border-bottom: 1px solid #009946;cursor: pointer;}
        .menu li:first-child{padding-left: 0;}
        .menu li:last-child{padding-right: 0}
        .menu li:hover{color: #009946;}
       
       	.banner-position{position:absolute;display: flex;top: 50px;width: 100%;}
       	.img-wrap{width:30%;padding: 0 30px;}
        .addCar{position:absolute;top:0;left:0;background:rgba(0, 0, 0, .3);width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
        .cart-hover:hover{background: #1ca458;border-radius: 50%;width:60px;height:60px;line-height: 65px;text-align: center;}
		.cart-hover{width:60px;height:60px;line-height: 65px;text-align: center;}
		
		
		/* 轮播 */
		.banner { position: relative; overflow: auto; text-align: center;}
		.banner li { list-style: none; }
		.banner ul li { float: left; }
		#b06 { width: 640px;}
		#b06 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
		#b06 .dots li  {  display: inline-block;  width: 10px;  height: 10px;  margin: 0 4px;  text-indent: -999em;  border: 2px solid #009946;  border-radius: 6px;  cursor: pointer;  opacity: .4;  -webkit-transition: background .5s, opacity .5s;  -moz-transition: background .5s, opacity .5s;  transition: background .5s, opacity .5s; }
		#b06 .dots li.active  { background: #009946; opacity: 1; }
		#b06 .arrow { position: absolute; top: 200px;}
		#b06 #al { left: 15px;}
		#b06 #ar { right: 15px;}
   </style>
</head>

<body>
    <div id="vmMain">
        <!-- 顶部banner logo和导航栏  -->
        <div class="relative">
        	<div class="login-signup" style="z-index: 999;">
				<a href="login.html" class="c-white">登录</a> |
				<a href="signup.html" class="c-white">注册</a>
			</div>
			<!-- 轮播 -->
            	<div class="banner" id="b06">
				    <ul>
				         <li><img src="../img/banner1.jpg" class="w-full"></li>
				        <li><img src="../img/banner2.jpg" class="w-full"></li>
				         <li><img src="../img/banner3.jpg" class="w-full"></li>
				    </ul>
				    <a href="javascript:void(0);" class="unslider-arrow06 prev"><img class="arrow" id="al" src="../img/arrowl.png" alt="prev" width="20" height="35"></a>
				    <a href="javascript:void(0);" class="unslider-arrow06 next"><img class="arrow" id="ar" src="../img/arrowr.png" alt="next" width="20" height="37"></a>
				</div>
            <div class="banner-position">
                <div class="img-wrap">
                    <img class="w-pre90" src="../img/logo.png" alt="">
                </div>
                
                <div class="w-pre70 m-t30">
                    <div class="nav clearfloat">
                        <li><a href="index.html">首页</a> </li>
                        <li @mouseenter="showmenu" @mouseleave="hidemenu" class="relative">
                        	<a>分类</a>
                        	<div v-if="isshow" class="t-c c-white child-menu-wrap">
                        		<div @click="operatekind('1')" class="child-menu">蔬菜</div>
                        		<div @click="operatekind('2')" class="child-menu">水果</div>
                        		<div @click="operatekind('3')" class="child-menu">茶叶</div>
                        		<div @click="operatekind('4')" class="child-menu">粮油</div>
                        		<div @click="operatekind('5')" class="child-menu">养殖</div>
                        	</div>
                        </li>
                        <li><a href="plantation-base.html">种植基地</a></li>
                        <li><a href="picking-park.html">采摘园区</a></li>
                        <li><a href="contact-us.html">在线留言</a></li>
                        <li><a href="about-us.html">联系我们</a></li>
                        <li>
                        	<a href="shopping-cart.html" class="relative">
                        		<span class="iconfont icongouwuche "></span>
                            	<div v-if="shoppingCartCount" class="nav-car-count nav-car-count-media">{{shoppingCartCount}}</div>
                        	</a>
                        </li>
                    </div>
                   
                </div>
            </div>

        </div>
        <!-- 产品 -->
        <div>
        	<div class="banner-bottom">
			<div class="container">
				<h3><span>agriculture</span> is best, enterprise is acceptable, but avoid being on a <span class="fixed_w3">fixed wage</span></h3>
				<div class="agileits_banner_bottom_grids">
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../img/1.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>Cattle Farm</h4>
								<p>Maecenas ullamcor non nunc eget.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../img/2.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>Farming</h4>
								<p>Maecenas ullamcor non nunc eget.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../img/3.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>Poultry</h4>
								<p>Maecenas ullamcor non nunc eget.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../img/4.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>Gardening</h4>
								<p>Maecenas ullamcor non nunc eget.</p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="work">
			<div class="container">
				<h3 class="w3l_header">Our <span>Work</span></h3>
			</div>
			<div class="w3layouts_work_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="w3layouts_work_grid_left">
									<img src="../img/5.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_work_grid_left_pos">
										<img src="../img/6.jpg" alt=" " class="img-responsive" />
									</div>
								</div>
								<div class="w3layouts_work_grid_right">
									<h4>Agriculture Lanscape</h4>
									<h5>Aenean congue leo ante ut fring</h5>
									<p>Duis vitae faucibus quam. Sed tempus vestibulum lacus blandit faucibus. Nunc imperdiet, diam nec rhoncus ullamcorper, nisl nulla suscipit ligula, at imperdiet urna. </p>
								</div>
								<div class="clearfix"> </div>
							</li>
							<li>
								<div class="w3layouts_work_grid_left">
									<img src="../img/5.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_work_grid_left_pos">
										<img src="../img/1.jpg" alt=" " class="img-responsive" />
									</div>
								</div>
								<div class="w3layouts_work_grid_right">
									<h4>Agriculture Lanscape</h4>
									<h5>diam nec rhoncus ullamc nulla</h5>
									<p>Duis vitae faucibus quam. Sed tempus vestibulum lacus blandit faucibus. Nunc imperdiet, diam nec rhoncus ullamcorper, nisl nulla suscipit ligula, at imperdiet urna. </p>
								</div>
								<div class="clearfix"> </div>
							</li>
							<li>
								<div class="w3layouts_work_grid_left">
									<img src="../img/5.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_work_grid_left_pos">
										<img src="../img/2.jpg" alt=" " class="img-responsive" />
									</div>
								</div>
								<div class="w3layouts_work_grid_right">
									<h4>Agriculture Lanscape</h4>
									<h5>Sed tempus vestibulum lacus</h5>
									<p>Duis vitae faucibus quam. Sed tempus vestibulum lacus blandit faucibus. Nunc imperdiet, diam nec rhoncus ullamcorper, nisl nulla suscipit ligula, at imperdiet urna. </p>
								</div>
								<div class="clearfix"> </div>
							</li>
							<li>
								<div class="w3layouts_work_grid_left">
									<img src="../img/5.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_work_grid_left_pos">
										<img src="../img/3.jpg" alt=" " class="img-responsive" />
									</div>
								</div>
								<div class="w3layouts_work_grid_right">
									<h4>Agriculture Lanscape</h4>
									<h5>nisl nulla suscipit ligula imperdiet</h5>
									<p>Duis vitae faucibus quam. Sed tempus vestibulum lacus blandit faucibus. Nunc imperdiet, diam nec rhoncus ullamcorper, nisl nulla suscipit ligula, at imperdiet urna. </p>
								</div>
								<div class="clearfix"> </div>
							</li>
							<li>
								<div class="w3layouts_work_grid_left">
									<img src="../img/5.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_work_grid_left_pos">
										<img src="../img/7.jpg" alt=" " class="img-responsive" />
									</div>
								</div>
								<div class="w3layouts_work_grid_right">
									<h4>Agriculture Lanscape</h4>
									<h5>Mauris et tincidunt nisi vel tempus</h5>
									<p>Duis vitae faucibus quam. Sed tempus vestibulum lacus blandit faucibus. Nunc imperdiet, diam nec rhoncus ullamcorper, nisl nulla suscipit ligula, at imperdiet urna. </p>
								</div>
								<div class="clearfix"> </div>
							</li>
						</ul>
					</div>
				</section>
				<script defer src="../js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function() {
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider) {
								$('body').removeClass('loading');
							}
						});
					});
				</script>
			</div>
		</div>
		<div class="team">
			<div class="container">
				<div class="w3_agile_team_grids">
					<div class="w3_agile_team_grid">
						<div class="agile_team_text">
							<p>Integer eu arcu sed erat pretium porttitor ac quis tellus. Sed non justo tristique, vestibulum.</p>
						</div>
						<div class="agileits_w3layouts_quotes">
							<h3>Michael Paul</h3>
							<p>Farmer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="testimonials">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header">Our <span>Testimonials</span></h3>
			<div class="wthree_testimonial_grids">
				<div class="col-md-6 wthree_testimonial_grid_left">
					<div class="w3ls_testimonial_grid_left_grid">
						<div class="col-xs-4 agileinfo_testimonials_left">
							<img src="../img/2.png" alt=" " class="img-responsive" />
							<h4>John Crisp</h4>
							<p>Farmer</p>
						</div>
						<div class="col-xs-8 agileinfo_testimonials_right">
							<div class="agileits_testimonials_right_grid">
								<p>Donec euismod consequat mi, pretium volutpat nibh tempor nec. 
									Quisque id justo sagittis iaculis.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3ls_testimonial_grid_left_grid w3l_testimonial_grid_left_grid">	
						<div class="col-xs-8 agileinfo_testimonials_right agileits_w3layouts_farm_man">
							<div class="agileits_testimonials_right_grid w3_testimonials_right_grid">
								<p>Cras et sapien vitae leo egestas fermentum. Sed condimentum dolor a quam 
									egestas commodo. Proin sed metus lacus.</p>
							</div>
						</div>
						<div class="col-xs-4 agileinfo_testimonials_left">
							<img src="../img/3.png" alt=" " class="img-responsive" />
							<h4>Thomus Carl</h4>
							<p>Farmer</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 wthree_testimonial_grid_right">
					<h3><span>Farming </span>is not just a job its way of life</h3>
					<p>Pellentesque magna quam, rutrum a luctus quis, ultrices eget metus. 
						Curabitur ornare pulvinar erat, non commodo velit venenatis nec. 
						Phasellus at malesuada sem, porta volutpat turpis.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
        </div>
        <!-- 底部 -->
        <div>
            <div class="relative">
                <img class="w-full"src="../img/footer.jpg" alt="">
                <div class="w-full t-c seemore-wrap"> 
                    <span class="seemore">查看更多</span> 
                </div>
            </div>
            <div class="bg-green p-t30 p-b50 flex m-t-2">
                <div class="w-pre40 flex between">  
                    <div></div>
                    <div class="c-yellow-green">
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_03.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>地址 / ADDRESS</div>
                                <div>绵阳市梓潼县天宝柑桔合作社文昌添宝蜜柚 <span class="visibility-hidden">占位</span></div>
                            </div>
                        </div>
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_06.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>电话 / TELEPHONE</div>
                                <div>0888-88888888</div>
                            </div>
                        </div>
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_09.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>网址 / SITE</div>
                                <div>HTTP://WWW.WWW.COM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-pre60 p-l50">
                    <ul class="footer-menu">
                        <li> <a href="classify.html?type=1">蔬菜</a></li>
                        <li><a href="classify.html?type=2">水果</a></li>
                        <li><a href="classify.html?type=3">茶叶</a></li>
                        <li><a href="classify.html?type=4">粮油</a></li>
                        <li><a href="classify.html?type=5">养殖</a></li>
                    </ul>
                    <ul class="footer-nav">
                        <li><a href="index.html">首页</a> </li>
                        <li><a href="classify.html?type=1">分类</a></li>
                        <li><a href="plantation-base.html">种植基地</a></li>
                        <li><a href="picking-park.html">采摘园区</a></li>
                        <li><a href="contact-us.html">在线留言</a></li>
                        <li><a href="about-us.html">联系我们</a></li>
                    </ul>
                    <div class="m-t20 c-white">Copyright &copy; 2002-2020 某某有机产品有限公司 版权所有</div>
                </div>
            </div>

        </div>

    </div>
	<script src="../js/jquery-2.2.4.min.js"></script>
    <script src="../js/unslider.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/toastr.js"></script>
    <script src="../js/common.js"></script>
    <script>
    var vm = new Vue({
        el:"#vmMain",
        data:{
           
            tabbartxt:'1',
            shoppingCartCount:'',
            isshow:false
        },
        methods:{
        	load:function(){
        		
        	},
        	// 加入购物车 存储在本地
        	addCar:function(detail){
        		var shoppingCart = localStorage.getItem('shoppingCart');
        		if(shoppingCart){
        			shoppingCart = JSON.parse(shoppingCart);
        			shoppingCart.push(detail);
        			localStorage.setItem('shoppingCart',JSON.stringify(shoppingCart));
        		}else{
        			shoppingCart = [];
        			shoppingCart.push(detail);
        			localStorage.setItem('shoppingCart',JSON.stringify(shoppingCart));
        		}
        		this.shoppingCartCount =  getCartCount();
        		toastr.success('加入购物车成功');
        	},
        	// 跳转到详情
        	toDetail:function(){
        		window.open("product-detail.html","_blank");         
        	},
            enter:function(n){
                for(let i=0;i<this.list.length;i++){
                    this.list[i].show = false;
                }
                this.list[n].show = true;
            },
            leave:function(n){
                this.list[n].show = false;
            },
            showmenu:function(){
            	this.isshow = true;
            },
            hidemenu:function(){
            	this.isshow = false;
            },
            operatekind:function(type){
            	window.location.href = 'classify.html?type='+type
            }
        }
    })
    
    vm.shoppingCartCount = getCartCount();
    vm.load();
  
		  function imgReload() {
			var imgHeight = 0;
			var wtmp = $("body").width();
			$("#b06 ul li").each(function(){
		        $(this).css({width:wtmp + "px"});
		    });
			$(".sliderimg").each(function(){
				$(this).css({width:wtmp + "px"});
				imgHeight = $(this).height();
			});
		}
		$(window).resize(function(){imgReload();});
		$(document).ready(function(e) {
			imgReload();
		    var unslider06 = $('#b06').unslider({
				dots: true,
				fluid: true
			}),
			data06 = unslider06.data('unslider');
			$('.unslider-arrow06').click(function() {
		        var fn = this.className.split(' ')[1];
		        data06[fn]();
		    });
		});

  </script>
</body>

</html>