<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>农产品</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../css/toastr.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
       
        .menu{  display:flex;justify-content:center; }
        .menu li{padding: 10px 20px;color: #444;border-bottom: 1px solid #009946;cursor: pointer;}
        .menu li:first-child{padding-left: 0;}
        .menu li:last-child{padding-right: 0}
        .menu li:hover{color: #009946;}
       
       	.banner-position{position:absolute;display: flex;top: 50px;width: 100%;}
       	.img-wrap{width:30%;padding: 0 30px;}
        .addCar{position:absolute;top:0;left:0;background:rgba(0, 0, 0, .3);width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
        .cart-hover:hover{background: #1ca458;border-radius: 50%;width:60px;height:60px;line-height: 65px;text-align: center;}
		.cart-hover{width:60px;height:60px;line-height: 65px;text-align: center;}
   </style>
</head>

<body>
    <div id="vmMain">
        <!-- 顶部banner logo和导航栏  -->
        <div class="banner relative">
            <img class="w-full" src="../img/banner.jpg" alt="">
            <div class="banner-position">
                <div class="img-wrap">
                    <img class="w-pre90" src="../img/logo.png" alt="">
                </div>
                <div class="w-pre70 m-t30">
                    <div class="nav">
                        <li><a href="index.html">首页</a> </li>
                        <li><a href="index.html">分类</a></li>
                        <li><a href="plantation-base.html">种植基地</a></li>
                        <li><a href="picking-park.html">采摘园区</a></li>
                        <li><a href="contact-us.html">在线留言</a></li>
                        <li><a href="about-us.html">联系我们</a></li>
                        <li>
                        	<a href="shopping-cart.html" class="relative">
                        		<span class="iconfont icongouwuche "></span>
                            	<div class="nav-car-count nav-car-count-media">{{shoppingCartCount}}</div>
                        	</a>
                        </li>
                    </div>
                   
                </div>
            </div>

        </div>
        <!-- 产品 -->
        <div class="w-pre80" style="margin:20px auto;">
            <ul class="menu" >
                <li @click="tabBar('1')" :class="tabbartxt=='1'?'c-green':''">蔬菜</li>
                <li @click="tabBar('2')" :class="tabbartxt=='2'?'c-green':''">水果</li>
                <li @click="tabBar('3')" :class="tabbartxt=='3'?'c-green':''">茶叶</li>
                <li @click="tabBar('4')" :class="tabbartxt=='4'?'c-green':''">粮油</li>
                <li @click="tabBar('5')" :class="tabbartxt=='5'?'c-green':''">养殖</li>
            </ul>
            <div class="row m-t40">
                <div v-for="i,index in list" @mouseenter="enter(index)" @mouseleave="leave(index)" class="col-xs-3 p-b30">
                    <div class="p-t10 p-b10"> 
                        <div class="relative pointer">
                        	<div class="shadow-c">
                        		 <img class="w-full" :src="i.img" alt="">
                        	</div>
                           
                            <div v-if="i.show" class="addCar relative">
                               <div @click="toDetail(i)" style="width: 100%;height: 100%;position: absolute;z-index: 99;"></div>
                               <span @click="addCar(i)" class="c-white cart-hover" style="position: absolute;top: 50%;left: 50%;margin-left: -30px;margin-top: -30px;z-index: 999;">
                                    <span class="iconfont icongouwuche s-30"></span>
                                </span> 
                            </div>
                             
                        </div>
                        <div class="flex between m-t20">
                            <div>{{i.name}}</div>
                            <div class="c-9 s-13">{{i.address}}</div>
                        </div>
                        <div>  <img src="../img/xing.jpg" alt=""> </div>
                        <div class="m-t10"> ￥{{i.price}}  </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div>
            <div class="relative">
                <img class="w-full"src="../img/footer.jpg" alt="">
                <div class="w-full t-c seemore-wrap"> 
                    <span class="seemore">查看更多</span> 
                </div>
            </div>
            <div class="bg-green p-t30 p-b50 flex m-t-2">
                <div class="w-pre40 flex between">  
                    <div></div>
                    <div class="c-yellow-green">
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_03.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>地址 / ADDRESS</div>
                                <div>绵阳市梓潼县天宝柑桔合作社文昌添宝蜜柚 <span class="visibility-hidden">占位</span></div>
                            </div>
                        </div>
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_06.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>电话 / TELEPHONE</div>
                                <div>0888-88888888</div>
                            </div>
                        </div>
                        <div class="flex p-b10 p-t10 b-b-light-green">
                            <div>
                                <img class="w-40" src="../img/tu_09.jpg" alt="">
                            </div>
                            <div class="m-l10">
                                <div>网址 / SITE</div>
                                <div>HTTP://WWW.WWW.COM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-pre60 p-l50">
                    <ul class="footer-menu">
                        <li>蔬菜</li>
                        <li>水果</li>
                        <li>茶叶</li>
                        <li>粮油</li>
                        <li>养殖</li>
                    </ul>
                    <ul class="footer-nav">
                        <li>首页</li>
                        <li>分类</li>
                        <li>种植基地</li>
                        <li>在线留言</li>
                        <li>联系我们</li>
                    </ul>
                    <div class="m-t20 c-white">Copyright &copy; 2002-2020 某某有机产品有限公司 版权所有</div>
                </div>
            </div>

        </div>

    </div>
	<script src="../js/jquery-2.2.4.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/toastr.js"></script>
    <script src="../js/common.js"></script>
    <script>
    var vm = new Vue({
        el:"#vmMain",
        data:{
            list:[
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
            ],
            tabbartxt:'1',
            shoppingCartCount:'',
        },
        methods:{
        	// 点击蔬菜 水果 茶叶 粮油 养殖 切换内容显示
        	tabBar:function(type){
        		this.tabbartxt = type;
        		switch (type){
        			case '1':
        				this.list = [
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
        				]
        				break;
    				case '2':
        				this.list = [
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
        				]
        				break;
    				case '3':
        				this.list = [
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
        				]
        				break;
    				case '4':
        				this.list = [
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
        				]
        				break;
    				case '5':
        				this.list = [
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/vv.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
        				]
        				break;
    				case '6':
        				this.list = [
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
			                {img:'../img/v.png',name:'油麦菜',address:'四川比得上基地',price:'2.00',count:1,show:false},
        				]
        				break;
        			default:
        				break;
        		}
        	},
        	// 加入购物车 存储在本地
        	addCar:function(detail){
        		var shoppingCart = localStorage.getItem('shoppingCart');
        		if(shoppingCart){
        			shoppingCart = JSON.parse(shoppingCart);
        			shoppingCart.push(detail);
        			localStorage.setItem('shoppingCart',JSON.stringify(shoppingCart));
        		}else{
        			shoppingCart = [];
        			shoppingCart.push(detail);
        			localStorage.setItem('shoppingCart',JSON.stringify(shoppingCart));
        		}
        		this.shoppingCartCount =  getCartCount();
        		toastr.success('加入购物车成功');
        	},
        	// 跳转到详情
        	toDetail:function(){
        		window.open("product-detail.html","_blank");         
        	},
            enter:function(n){
                for(let i=0;i<this.list.length;i++){
                    this.list[i].show = false;
                }
                this.list[n].show = true;
            },
            leave:function(n){
                this.list[n].show = false;
            }
        }
    })
    
    vm.shoppingCartCount = getCartCount();
    </script>
</body>

</html>